/* =============================================================================
   Buttons
   ========================================================================== */

button {
	@extend .white-btn;

	&:disabled {
		opacity: 0.5;	
	}

	&:active,
	&:focus {
		outline: none;
	}
}


.white-btn {
	@include transition(all 0.3s ease);
	display: inline-block;
	@include futura-bold;
	font-size: 8px;
	@include box-shadow(none);
	border: 1px solid #b7b7b7;
	text-transform: uppercase;
	background: #FFF;
	color: #555555;
	letter-spacing: 2px;
	padding: 1em 3em;
	text-align: center;

	&:hover {
		background: #dec7cd;
		color: #FFF;
		border-color: #dec7cd;
	}

	&.arrow-left-btn,
	&.arrow-right-btn {
		position: relative;

		&:after, &:before {
			top: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			@include transition(all 0.3s ease);
		}

		&:after {
			border-width: 14px;
		}

		&:before {
			border-width: 15px;
		}

	}

	&.arrow-right-btn {
		border-right: 0;
		padding-right: 1em;
		margin-right: 15px;

		&:hover {
			&:after {
				border-left-color: #000;
			}
		}
	
		&:after, &:before {
			left: 100%;
		}

		&:after {
			border-color: rgba(#FFF, 0);
			border-left-color: #FFFFFF;
			margin-top: -14px;
		}

		&:before {
			border-color: rgba(#000, 0);
			border-left-color: #b7b7b7;
			margin-top: -15px;
		}
	}

	&.arrow-left-btn {
		border-left: 0;
		padding-left: 1em;
		margin-left: 15px;
		
		&:hover {
			&:after {
				border-right-color: #000;
			}
		}
	
		&:after, &:before {
			right: 100%;
		}

		&:after {
			border-color: rgba(255, 255, 255, 0);
			border-right-color: #FFFFFF;
			margin-top: -14px;
		}

		&:before {
			border-color: rgba(0, 0, 0, 0);
			border-right-color: #b7b7b7;
			margin-top: -15px;
		}
	}
}

.black-btn {
	@include transition(all 0.3s ease);
	display: inline-block;
	@include garamond;
	font-size: 8px;
	@include box-shadow(none);
	text-transform: uppercase;
	letter-spacing: 2px;
	background: #000;
	padding: 1em 5em;
	color: #FFF;
	text-align: center;
	border: 1px solid #000;
	@include box-shadow(0 1px 0 rgba(#FFF, 0.6));

	&:hover {
		background: #FFF;
		color: #000;
		@include box-shadow(none);
	}
}


.red-btn {
	display: inline-block;
	@include garamond;
	font-size: 8px;
	@include box-shadow(none);
	text-transform: uppercase;
	letter-spacing: 2px;
	background: #701830;
	padding: 12px 5em;
	color: #FFF;
	text-align: center;


	&:hover {
		background: #000;
		color: #FFF;
	}
}

.blue-btn {
	background: #c4ced6 url(../images/backgrounds/texture_blue.jpg);
	padding: 1.8em;
	@include futura-bold;
	color: #FFF;
	letter-spacing: 1px;
	@include font-size(9);
	text-align: center;
	&:hover {
		color: #000;
	}
}

.pink-btn {
	display: inline-block;
	background: url(../images/backgrounds/texture_pink.jpg);
	font-size: 9px;
	margin: 0;
	padding: 1.6em 5em;

	&:hover {
		color: #000;
	}

}

.corner-btn {
	@include transition(all 0.3s ease);
	display: inline-block;
	@include futura-bold;
	font-size: 8px;
	@include box-shadow(none);
	text-transform: uppercase;
	letter-spacing: 2px;
	background: #e9eaeb url(../images/misc/corner.png) top right no-repeat;
	padding: 1em 3em;
	color: #2e2e2e;
	text-align: center;
	position: relative;
	vertical-align: middle;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 9px 0 0 9px;
		border-color: transparent transparent transparent #dbd1c3;
	}

	// &:after {
	// 	content: '';
	// 	position: absolute;
	// 	top: 0;
	// 	right: 0;
	// 	width: 0;
	// 	height: 0;
	// 	border-style: solid;
	// 	border-width: 0 9px 9px 0;
	// 	border-color: transparent transparent transparent #000;
	// 	z-index: 100;
	// }

	&:hover {
		background-color: #f8f8f8;
	}

	i {
		font-size: 1.4em;
		vertical-align: -2px;
	}
}

.menu-btn {
	text-transform: uppercase;
	@include font-size(13);
	padding: 1em;
	// background: #000;
	// color: #FFF;
	text-align: center;
	line-height: 0;
	width: 40px;
	height: 40px;
	&:before {
		display: inline-block;
		width: 12px;
		height: 12px;
		line-height: 1;
		font-size: 1em;
		vertical-align: middle;
		@extend [class^="icon-"];
		@extend .icon-list:before;
	}
}



.facebook-btn,
.twitter-btn,
.tumblr-btn,
.instagram-btn,
.pinterest-btn,
.google-plus-btn,
.youtube-btn {
	color: #666666;
	padding: 0.1em;
	@include font-size(12);
	&:hover {
		text-decoration: none;
	}
	&:before {
		@include transition(all 0.3s ease);
		font-size: 1.3em;
		vertical-align: middle;
		display: inline-block;
		@extend [class^="icon-"];
	}
}
.facebook-btn {
	&:before {
		@extend .icon-facebook:before;
	}
	&:hover {
		&:before {
			color: #3b5998;
		}
	}
}

.twitter-btn {
	&:before {
		@extend .icon-twitter:before;

	}
	&:hover {
		&:before {
			color: #1ab2e8;
		}
	}
}


.tumblr-btn {
	&:before {
		@extend .icon-tumblr:before;
	}
	&:hover {
		&:before {
			color: #2a4560;
		}
	}
}

.instagram-btn {
	&:before {
		@extend .icon-instagram:before;
	}
	&:hover {
		&:before {
			color: #d6c3b4;
		}
	}

}


.pinterest-btn {
	&:before {
		@extend .icon-pinterest:before;
	}
	&:hover {
		&:before {
			color: #cc2127;
		}
	}
}

.google-plus-btn {
	&:before {
		@extend .icon-google-plus:before;
	}
	&:hover {
		&:before {
			color: #da2713;
		}
	}
}

.youtube-btn {
	&:before {
		@extend .icon-youtube:before;
	}
	&:hover {
		&:before {
			color: #da2713;
		}
	}
}

.search-btn {
	background: none;
	text-transform: uppercase;
	@include font-size(13);
	padding: 1em;
	// background: #000;
	// color: #FFF;
	text-align: center;
	line-height: 0;
	width: 40px;
	height: 40px;

	&:before {
		display: inline-block;
		width: 12px;
		height: 12px;
		line-height: 1;
		font-size: 1em;
		vertical-align: middle;
		@extend [class^="icon-"];
		@extend .icon-search:before;
	}
}

.overlay-btn {
	position: relative;
	display: block;

	&:after {
		@include transition(all 0.3s ease);
		content: '';
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(#FFF, 0.6);
		visibility: hidden;
	}

	.overlay {
		visibility: hidden;
		opacity: 0;
		display: block;
		left: 10%;
		right: 10%;
		top: 50%;
		bottom: auto;
		@include translateY(-50%);
		@include transition(all 0.3s ease);
		.no-csstransforms {
			top: 2em;
		}
	}

	&:hover {
		&:after,
		.overlay {
			opacity: 1;
			visibility: visible;			
		}
	}

	> img {
		display: block;
	}
}

.print-btn {
	@media print {
		display: none;
	}
}

.shop-btn {
	&:before {
		@extend [class^="icon-"];
		@extend .icon-bag;
		margin: 0 0.2em 0 0;
		font-size: 1.4em;
		vertical-align: -0.1em;
		line-height: 0;
	}

	i {
		text-transform: none;
		margin: 0 0.2em 0 0;
		letter-spacing: 0;
		font-size: 1.2em;
		line-height: 1;
		@include garamond-italic;
	}
}

.product-btn,
.post-btn {
	text-align: center;
	color: #000;
	
	.header {
		@include box-sizing(border-box);
		background: #FFF;
		padding: 1em; 
		width: auto;
		float: none;
	}

	.title {
		color: #333333;
		line-height: 2;
	}
	
	.meta {
		font-size: 10px;
		color: #666;
		margin: 0.5em 0 1em;
	}

	.category {
		@include garamond;
		text-transform: uppercase;
		@include font-size(10);
		letter-spacing: 2px;

		span {
			color: #000;
		}
	}

	img {
		display: block;
	}
}

.up-btn {
	background: none;
	border: 0;
	text-align: center;
	@include futura-bold;
	font-size: 9px;
	letter-spacing: 1px;
	display: inline-block;
	width: 10em;
	&:before {
		@extend [class^="icon-"];
		@extend .icon-arrow-up;
		font-size: 4em;
		margin: 0 0 0.2em;
		display: block;
	}

	&:hover {
		background: none;
		color: #dec7cd;
	}
}

.down-btn {
	background: none;
	border: 0;
	text-align: center;
	@include futura-bold;
	font-size: 9px;
	letter-spacing: 1px;
	display: inline-block;
	width: 10em;
	&:before {
		@extend [class^="icon-"];
		@extend .icon-arrow-down;
		font-size: 4em;
		margin: 0 0 0.2em;
		display: block;
	}

	&:hover {
		color: #dec7cd;
		background: none;
	}
}

.print-btn {
	display: inline-block;
	@include futura;
	@include font-size(12);
	color: #d0d0d0;

	&:hover {
		color: #000;
	}

	&:after {
		@extend [class^="icon-"];
		@extend .icon-print:before;
		margin: 0 0 0 0.5em;
		@include font-size(12);
	}
}

.comments-btn {
	display: inline-block;
	@include futura;
	@include font-size(10);

	&:before {
		@extend [class^="icon-"];
		@extend .icon-comment:before;
		margin: 0 0.5em 0 0;
		font-size: 1.2em;
		vertical-align: middle;
	}
}

.location-btn {
	display: inline-block;
	text-align: center;
	@include futura-heavy;
	@include font-size(8);
	letter-spacing: 2px;
	
	&:before {
		@extend [class^="icon-"];
		@extend .icon-marker:before;
		display: block;
		@include font-size(24);
		margin-bottom: 0.4em;
	}
}