@mixin arial {
	font-family: Arial, Helvetica, sans-serif;
}

.arial {
	@include arial;
}


@mixin futura {
	font-family: 'L Futura W01';
	font-weight: 400;
	font-style: normal;
}

.futura {
	@include futura;
}