@font-face {
	font-family: 'icons';
	src:url('fonts/icons.eot?-g8yka7');
	src:url('fonts/icons.eot?#iefix-g8yka7') format('embedded-opentype'),
		url('fonts/icons.woff?-g8yka7') format('woff'),
		url('fonts/icons.ttf?-g8yka7') format('truetype'),
		url('fonts/icons.svg?-g8yka7#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-bag:before {
	content: "\e600";
}
.icon-chevron-down:before {
	content: "\e601";
}
.icon-chevron-left:before {
	content: "\e602";
}
.icon-chevron-right:before {
	content: "\e603";
}
.icon-chevron-up:before {
	content: "\e604";
}
.icon-close:before {
	content: "\e605";
}
.icon-magnify:before {
	content: "\e606";
}
.icon-twitter:before {
	content: "\f099";
}
.icon-facebook:before {
	content: "\f09a";
}
.icon-menu:before {
	content: "\f0c9";
}
