html {
	height: 100%;
	font-size: 62.5%;
}

body {
	height: 100%;
	background: #FFF;
	color: #333333;
	@include font-size(15);
	line-height: 1.5;
	min-width: 300px;
	@include garamond;
}

#tortilla {
	height: 100%;
	position: relative;
}

#carousel {
//	height: 100%;
	width: 100%;
	background: #FFF;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	//height: 100vm;
	//@include text-shadow(1px 1px 1px rgba(#000, 0.5));
	color: #FFF;
	@include backface-visibility(hidden);
	z-index: 0;

	
	.logo {
		position: absolute;
		top: 50%;
		left: 50%;
		@include font-size(100);
		z-index: 300;
		@include transform(translateX(-50%) translateY(-50%));
		color: #FFF;


		@include device-height(8) {
			@include font-size(60);
		}

		@include device-height(6) {
			top: 20%;
			@include translateX(-50%);
		}

		@include device-height(4) {
			@include font-size(40);
		}


		@include device-width(8) {
			@include font-size(60);
		}

		@include device-width(6) {
			top: 20%;
			@include translateX(-50%);
		}

		@include device-width(4) {
			@include font-size(40);
		}


	}

	.slides {
		height: 100%;
	}

	.slide {
		//background-attachment: fixed;
		background-size: cover;
		background-position: center center;
		height: 100%;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(#000, 0.2);
		}

		.content {
			text-align: center;
			position: absolute;
			top: 50%;
			left: 20%;
			right: 20%;
			margin-top: 10em;
			color: #FFF;

			@include device-width(8) {
				margin-top: 5em;
			}

			@include device-width(6) {
				margin-top: -2em;
			}
			
			@include device-width(4) {
				margin-top: -5em;
			}

			@include device-height(8) {
				margin-top: 5em;
			}

			@include device-height(6) {
				margin-top: -2em;
			}

			> .inner {
				max-width: 400px;
				margin: 0 auto;

				@include device-width(16) {
					max-width: 600px;
				}
			}
			a {
				color: #FFF;

				&:hover {
					color: #dec7cd;
				}
			}

			.title {
				letter-spacing: 10px;

				@include device-width(8) {
					@include font-size(28);
					letter-spacing: 5px;
				}

				@include device-width(6) {
					@include font-size(24);
				}

				@include device-height(8) {
					@include font-size(28);
					letter-spacing: 5px;
				}

				@include device-height(6) {
					@include font-size(24);
				}
			}

			.excerpt {
				@include garamond-italic;

				@include device-width(30) {
					@include font-size(18);
				}

				@include device-width(20) {
					@include font-size(16);
				}

				@include device-width(16) {
					@include font-size(15);
				}

				@include device-width(6) {
					@include font-size(14);
				}
			}
		}
	}

	.flex-control-nav {
		bottom: 6em;

		@include device-height(4) {
			display: none;
		}
	}

	.down-btn {
		position: absolute;
		bottom: 2em;
		left: 50%;
		z-index: 300;
		margin-left: -5em;
		color: #FFF;

		@include device-width(6) {
			bottom: 1em;
		}
	}
}

#header,
#footer {
	position: relative;
	z-index: 300;

	@include print() {
		display: none;
	}
	
	.secondary-navigation {
		float: left;

		.menu {
			list-style: none;
			padding: 0;
			margin: 0;
		}
		
		a {
			display: block;
			padding: 2em 30px;
			@include futura-heavy;
			@include font-size(8);
			letter-spacing: 1px;
			line-height: 1.4;

			@include device-height(8) {
				padding-top: 1.6em;
				padding-bottom: 1.6em;
			}
		}
	}

	.logo-container {
		padding: 0;
		position: absolute;
		left: 50%;
		top: 0;
		z-index: 200;
		//background: #000;
		text-align: center;


		// @include device-width(10) {
		// 	@include font-size(40);
		// }

		@include device-width(11) {
			position: relative;
			left: auto;
		}
	}

	.primary-navigation {
		position: relative;
		z-index: 100;
		text-align: right;

		@include device-width(10) {
			
		}

		.menu {
			list-style: none;
			padding: 0;
			margin: 0 -2.8em;
			
			@include device-width(15) {
				margin: 0 -2.6em;
			}

			@include device-width(13) {
				margin: 0 -2em;
			}

			@include device-width(11) {
				text-align: center;
				margin: 2em 0 0 0;
			}
		}

		li {
			float: left;
			padding: 0 1.4em;
			margin: 0 1.4em;
			position: relative;

			@include device-width(15) {
				margin: 0 1em;
			}

			// @include device-width(16) {
			// 	margin: 0 0.6em;
			// }

			@include device-width(11) {
				margin: 0 1em;
				display: inline-block;
				float: none;
			}

			@include device-width(8) {
				margin: 0 0.5em;
			}

			@include device-width(7) {
				float: none;
				margin: 0;
				padding: 0;
				display: block !important;
			}

			&.current-menu-item,
			&.current_page_item {
				> a {
					border-top-color: #e9eaeb;
				}
			}

			&.shop-btn-container {

				a {
					@extend .shop-btn;

					i {
						@include garamond-italic;
					}
				}
			}
		}

		a {
			border-top: 3px solid transparent;
			display: block;
			padding: 2em 0;
			@include garamond-bold;
			@include font-size(10);
			text-transform: uppercase;
			letter-spacing: 2px;
			color: #000;

			@include device-width(13) {
				padding: 1.2em 0;
			}

			&:hover {
				border-top-color: #e9eaeb;

				@include device-width(10) {
//					border-top-color: transparent;
				}
			}
		}
	}


	
}

#header {
	background: #FFF;
	position: relative;
	z-index: 200;

	.home & {
		margin-top: 400px;
		margin-top: 100vh;
	}
	
	> .top {
		background: #f8f3f0;
		border-top: 3px solid #727272;
		border-bottom: 3px solid #f2e9e3;
		position: relative;
		z-index: 200;

		a {
			color: #8c8a89;

			&:hover {
				color: #333;
			}
		}
	}

	> .bottom {
		position: relative;
		z-index: 100;
		padding: 5em 0;	

		@include device-width(13) {
			padding: 4em 0;
		}

		@include device-width(10) {
			padding: 2em 0;
		}


		.menu-btn,
		.search-btn {
			position: absolute;
			top: 0;
			z-index: 300;
			display: none;
			border: 0;

			@include device-width(7) {
				display: block;
			}

			@include device-width(5) {
				top: -5px;
			}
		}

		.menu-btn {
			left: 10px;
		}

		.search-btn {
			right: 10px;
		}
	}

	&.search-open {
		@include device-width(8) {
			.info {
				.search-form {
					display: inline-block;
				}

				.social-links {
					display: none;
				}
			}
		}
	}


	.info {
		float: right;
		margin-right: -0.3em;

		@include device-width(10) {
			margin: 0 10px;
		}

		@include device-width(7) {
			text-align: center;
			float: none;
		}

		.social-links {
			vertical-align: top;
			float: right;
			margin: 0.7em 0;

			@include device-width(8) {
				float: none;	
				display: inline-block;			
			}

			@include device-height(8) {
				margin: 0.5em 0;
			}

			a {
				color: #666;
			}
		}

		.search-form {
			vertical-align: top;
			float: left;
			margin: 0 1em;
			position: relative;

			@include device-width(8) {
				float: none;	
				display: none;	
			}

			.field {
				padding: 2em;
				width: 200px;

				@include device-width(8) {
					width: 80%;
				}

				@include device-height(8) {
					padding: 1.6em;
				}
			}

			.submit-btn {
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
			}
		}
	}

	.logo-container {
		@include font-size(60);
		margin: 0 0 0 -201px;

		@include device-width(15) {
			@include font-size(50);
			margin-left: -(335px / 2);
		}	

		@include device-width(13) {
			@include font-size(40);
			margin-left: -(268px / 2);
		}

		@include device-width(11) {
			margin: 0;
		}

		@include device-width(5) {
			@include font-size(30);
		}
	}

	.secondary-navigation {
		margin-left: -30px;

		@include device-width(10) {
			margin: 0 10px;
		}

		@include device-width(7) {
			display: none;
		}

		li {
			float: left;
			position: relative;

			&.menu-item-has-children {
				> a {
					&:after {
						content: '\25bc';
						font-size: 6px;
						line-height: 1.2;
						margin-left: 0.5em;
					}
				}
			}

			&:hover {
				ul {
					opacity: 1;
					visibility: visible;
				}
			}
			ul {
				@include transition(all 0.3s ease);
				margin: 0;
				padding: 0;
				opacity: 0;
				visibility: hidden;
				list-style: none;
				background: #f8f3f0;
				position: absolute;
				top: 100%;
				left: 50%;
				width: 160px;
				margin-left: -80px;
				text-align: center;
				border-bottom: 3px solid #f2e9e3;
			}

			li {
				float: none;
				border-bottom: 1px solid #f2e9e3;
			}
		}
	}

	&.navigation-open {
		.primary-navigation {
			max-height: 600px;
	//		display: block;
		}
	}

	.primary-navigation {
		vertical-align: middle;

		@include device-width(7) {
		//	display: none;
			max-height: 0;
			overflow: hidden;
			@include transition(all 1s ease);
		}

		li {
			@include device-width(7) {
				border-bottom: 1px solid #f2e9e3;
				background: #f8f3f0;
			}
			&:nth-child(n+4) {
				float: none;
				display: inline-block;
				margin: 0 0.8em;
				vertical-align: top;
			//	position: relative;
			//	left: 31%;
				// margin-right: 430px;

				@include device-width(11) {
					margin: 0 0.6em;
				}

				@include device-width(7) {
					margin: 0;
				}
			}

			&.right {
				
				.primary-dropdown {
					left: auto;
					right: 0;
				}

			}

			&.menu-item-has-children {
				&:before {
					content: '';
					position: absolute;
					bottom: 0;
					left: 50%;
					margin-left: -9px;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 9px 10px 9px;
					border-color: transparent transparent #f5f5f5 transparent;
					opacity: 0;
					visibility: hidden;
					@include transition(all 0.3s ease);
				}
				&:hover {

					.primary-dropdown,
					&:before {
						opacity: 1;
						visibility: visible;

						@include device-width(10) {
							display: none;
						}
					}

				}
			}

			&.shop-btn-container {
				// padding-left: 0.1em;
				// padding-right: 0.1em;

				// @include device-width(10) {
				// 	padding-left: 1.4em;
				// 	padding-right: 1.4em;
				// }

				// @include device-width(7) {
				// 	padding-left: 0;
				// 	padding-right: 0;
				// }

			}

			&.view-btn-container {
				@include futura;
				color: #d0d0d0;
				vertical-align: middle;
				
				span {
					display: inline-block;
					padding: 2em 0;
					font-size: 0.7em;
					letter-spacing: 0;
					vertical-align: top;

					@include device-width(13) {
						padding: 1.2em 0;
					}
				}

				a {
					
					vertical-align: top;
					display: inline-block;
					color: #d0d0d0;
					padding-left: 0.2em;
					padding-right: 0.2em;
					height: 1em;

					i {
						@include font-size(12);
					}

					&:hover {
						border-top-color: transparent;
						color: #000;
					}

					&.current {
						color: #000;
					}
				}
			}

			.primary-dropdown {
				top: 100%;
				left: 0;
			}
		}
	}

	.primary-dropdown {
		text-align: left;
		background: url(../images/backgrounds/texture_grey.jpg);
		border-bottom: 3px solid #dec7cd;
		position: absolute;
		min-width: 660px;
		visibility: hidden;
		opacity: 0;
		z-index: 400;
		@include transition(all 0.3s ease);
		@include display(flex);

		@include device-width(10) {
			display: none;
		}
		a {
			border-top: none;
			padding: 0;
			margin: 0;
			display: inline-block;
		}

		.taxonomies {
			float: left;
			padding: 1.4em;
			width: 35%;
			@include box-sizing(border-box);

			.sub-menu {
				list-style: none;
				margin: 0;
				padding: 0;
			}
			.categories {
				background: #ffffff;
				padding: 1em 1.4em;
				

				li {
					float: none;
					padding: 0;
					margin: 0;
					display: block;
				}
			}


			a {
				@include futura;
				@include font-size(9);
				padding: 0.7em 0;
				display: block;

				&:hover {
					color: #dec7cd;
				}
			}

			.tags {
				margin: 1.4em 0 0 0;

				.title {
					text-align: center;
					@include garamond;
					@include font-size(10);
				}
				li {
					padding: 0;
					width: 50%;
					margin: 0;

					a {
						background: #FFF;
						text-align: center;
						padding: 1em;
						margin: 1px;
						@include font-size(8);
					}

					// &:nth-child(2n - 1) {
					// 	a {
					// 		margin-right: 1px;
					// 	}
					// }



					&.see-all {
						float: right;

						a {
							background: #CCC;
							color: #FFF;

							&:hover {
								background: #dec7cd;
							}
						}
					}
				}
			}
		}

		.posts {	
			float: right;
			padding: 1.4em;
			width: 65%;
			position: relative;
			@include display(flex);
			background: rgba(#000, 0.05);
			@include box-sizing(border-box);

			.post {
				@include flex(1);
				float: left;
				width: 33%;
				background: #FFF;
				margin: 0 0.15%;
				text-align: center;

				.no-flexbox & {
					margin: 0;
				}

				&.btn {
					display: block;

					&:hover {
						background: #727272;
						color: #FFF;
					}
				}

				.category {

					span, 
					a {
						@include futura-heavy;
						@include font-size(8);
						padding: 1em;
						display: block;
					}
				}

				.title {
					padding: 1em;
					@include font-size(12);
					line-height: 1.8;
				}
			}
		}
	}
}
			
#main {
	position: relative;
	z-index: 100;
	padding: 0;
	background: #FFF;
}

#sidebar {
	
}


#back-to-top {
	text-align: center;
	padding: 4em 0 2em 0;	
	background: #FFF;
	position: relative;

	@include print() {
		display: none;
	}
}


#instagram {
	position: relative;

	@include print() {
		display: none;
	}

	.header {
		position: absolute;
		bottom: 100%;
		left: 0;
		right: 0;
	}
	.images-mask {
		overflow: auto;
	}
	.images {
		
		.image {
			float: left;
			display: block;
			width: 10%;

			@include device-width(8) {
				width: 20%;
			}
			img {
				display: block;
			}
		}
	}
}

#footer {
	position: relative;
	z-index: 200;

	> .top {
		background: #000;
		border: 0;
		padding: 3em 0;

		a {
			color: #c6c6c6;
		}
	}

	> .bottom {
		background: #1b1b1b;
		color: #6c6c6c;
		padding: 0.5em 0;

		a {
			color: #FFF;
		}
	}

	.logo-container {
		@include font-size(42);
		margin: 0 0 0 -141px;

		@include device-width(11) {
			margin: 0;
		}

		@include device-width(5) {
			@include font-size(30);
		}

		a {
			color: #FFF;
		}
	}

	.social-links {
		position: absolute;
		top: 0;
		left: 0;
		margin: 0.6em 0;
		z-index: 200;

		@include device-width(10) {
			padding: 0 10px;
		}

		@include device-width(6) {
			position: relative;
			text-align: center;
		}

		li {
			@include device-width(6) {
				display: inline-block;
				float: none;
			}
		}

		a {
			color: #FFF;
		}
	}
	.primary-navigation {
		padding: 0 0 0 16%;

		@include device-width(11) {
			padding: 0;
		}

		li {
			margin: 0 1.3em;
			
			&:nth-child(n+3) {
				float: none;
				display: inline-block;
			}

			

			@include device-width(13) {
				margin: 0 0.6em;
			}
		}

		a {
			padding: 1.2em 0;
		}
	}

	.secondary-navigation {

		@include device-width(10) {
			padding: 0 10px;
		}
		li {
			margin: 0;
			padding: 0;
		}

		a {
			padding: 0.2em 0;
		}
	}

	.copyright {
		@include garamond-italic;
		@include font-size(12);

		@include device-width(10) {
			padding: 0 10px;
		}
	}

	.by {
		@include futura;
		@include font-size(10);
		//padding: 0.6em 0;

		@include device-width(10) {
			padding: 0 10px;
		}
	}
}
