/* =============================================================================
   Modules
   ========================================================================== */


blockquote {
	padding: 0 0 0 2.5em;
	position: relative;
	margin: 1em 0;
}

.pagination {
	@include garamond;
	@include font-size(10);
	text-align: center;


	.page-numbers {
		@extend .white-btn;

		&.current {
			cursor: default;
			color: #FFF;
			background: #000;
			&:hover {
				color: #FFF;
				background: #000;
			}
		}
	}

	span {
		&.page-numbers {
			&:hover {
				cursor: default;
				color: #FFF;
				background: #000;
				
			}
		}
	}

	.next {
		@extend .arrow-right-btn;
	}

	.prev {
		@extend .arrow-left-btn;
	}
}


.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0;
    min-width: 430px;
    overflow: hidden;

    @include device-width(8) {
    	min-width: 330px;
    }

    @include device-width(4) {
    	min-width: 300px;
    }

	iframe,
	object,
	embed {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}

}

.social-links {
	list-style: none;
	padding: 0;
	margin: 0;
	@extend .clearfix;
	li {
		float: left;
		margin: 0;
	}

	a {
		display: inline-block;
		color: #000;
		vertical-align: middle;
		padding: 0.5em;
		font-size: 0.7em;
	}
}

.share-links {

	a {
		height: 20px;
		margin: 0 0.3em;
	}

}

.full-width-image {
	position: relative;
	background-size: cover;
	padding: 25% 0 0 0;
	overflow: hidden;

	&.attachment-fixed {
		background-attachment: fixed;

		.touch & {
			background-attachment: scroll;
		}
	}
	img {
		position: absolute;
		width: 100%;
		height: auto;
		@include opacity(0);
		top: 0;
		left: 0;

		.no-opacity {
			display: none;
		}
	}
}

.lined-header {
	text-align: center;
	height: 3px;
	background: #eeeeee;
	line-height: 0;
	margin-top: 14px;
	margin-bottom: 14px;
	@include font-size(12);
	
	.title,
	.widgettitle,
	.widget-title,
	.category {
		margin: -0.3em 0 0 0;
		display: inline-block;
		padding: 0 1.5em;
		background: #FFF;
		@include garamond;
		@include font-size(12);
		letter-spacing: 2px;
		color: #000;
		text-transform: uppercase;
		line-height: 1;
	}
}




.single {

	.featured-image {
		margin:  0;

		@include print() {
			display: none;
		}

		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}

	.post-header {
		text-align: center;

		&.header-layout-1 {
			.header-content {
				padding: 2em 20%;

				@include device-width(6) {
					padding: 1em 10%;
				}

				.print-btn {
					position: absolute;
					top: 2em;
					right: 2em;
					@include font-size(12);
				}
			}

			.featured-image {
				margin-top: 20px;
				background-position: center;
			}
		}

		&.header-layout-2,
		&.header-layout-3 {

			> .inner {
				@include display(flex);
				@include align-items(center);
				margin: 0 -10px;

				@include device-width(10) {
					margin: 0;
				}

				@include device-width(8) {
					@include flex-direction(column);
				}
			}

			.featured-image {
				padding-top: 10px;
				padding-bottom: 10px;

				@include device-width(8) {
					float: none;
					width: auto;
				}
			}

			.header-content {
				padding: 2em 10%;
				@include flex-direction(column);
				position: relative;

				@include device-width(10) {
					padding: 10px 2%;
				}

				@include device-width(8) {
					float: none;
					width: auto;
				}

				@include device-width(6) {
					padding: 10px;
				}

				.title {
					//@include hyphens(auto);
				}

				.excerpt {
					// @include device-width(8) {
					// 	display: none;
					// }
				}

			}

			.print-btn {
				position: absolute;
				top: 2em;
				left: 0;
			}
		}

		&.header-layout-2 {
			.featured-image {
			//	padding-left: 0;
				float: left;
				@include order(10);
			}

			.header-content {
				float: right;
				@include order(20);
			}

			.print-btn {
				left: auto;
				right: 0;
			}
		}
		&.header-layout-3 {
			.featured-image {
			//	padding-right: 0;
				float: right;
				@include order(10);
				
			}
		}

		&.title-long {

			.title {
				@include device-width(6) {
					@include font-size(18);
					letter-spacing: 2px;
				}

				@include device-width(4) {
					@include font-size(14);
				}
			}
		}

		.title {

		}

		.excerpt {
			margin: 2em 0;
			@include garamond-italic;
			@include font-size(16);

			a {
				border-bottom: 1px solid #000;
				&:hover {
					border-bottom-color: #dec7cd;	
				}
			}
		}

		hr {
			width: 30px;
		}
	}

	.post-terms {
		@include futura-heavy;
		@include font-size(8);
		letter-spacing: 2px;
		margin: 3em 0 1em 0;

		a {
			color: #666;

			&:hover {
				color: #000;
			}
		}
	}

	.post-meta {
		margin: 2em 0;
		@include font-size(12);
		@include futura;
		color: #838282;

		@include print() {
			display: none;
		}

		@include device-width(10) {
			margin-left: 10px;
			margin-right: 10px;
		}

		.photographers {

			&:before {
				@extend [class^="icon-"];
				@extend .icon-camera:before;
				color: #000;
				margin: 0 0.3em 0 0;
			}
		}

		.post-share {
			margin-left: 2em;
		}

		.print-btn {
			color: #838282;
			padding-right: 2em;
			border-right: 1px solid #838282;
			position: relative;
			top: 0.2em;

			&:hover {
				color: #000;
			}
		}
	}


	// .post-products {
	// 	border: 1px solid #d7d7d7;
	// 	margin: 2em 0;
	// 	.post-products-header {
	// 		text-align: center;
	// 		position: relative;
	// 		padding: 9px 1em 0 1em;
	// 		border-bottom: 1px solid #d7d7d7;

	// 		@include device-width(5) {
	// 			text-align: left;
	// 		}
	// 		&:before {
	// 			content: '';
	// 			position: absolute;
	// 			top: 2px;
	// 			left: 0;
	// 			right: 0;
	// 			height: 9px;
	// 			background: url(../images/backgrounds/dots.png) top center;
	// 		}

	// 		.title {
	// 			margin: 0;
	// 			padding: 0.5em 0;
	// 		}

	// 		.boutique-btn {
	// 			position: absolute;
	// 			right: 0;
	// 			top: 50%;
	// 			padding: 4px 0;
	// 			margin: -6px 1em 0 0;
	// 			@include garamond;
	// 			font-size: 8px;

	// 			&:after {
	// 				@extend [class^="icon-"];
	// 				@extend .icon-caret-right:before;
	// 				font-size: 1.2em;
	// 				margin: 0 0 0 0.5em;
	// 			}
	// 		}
	// 	}

	// 	.products {
	// 		padding: 0 26px;
	// 		.product-btn {
	// 			height: 200px;
	// 		}

	// 		.flex-direction-nav {
	// 			top: 0;
	// 			a {
	// 				margin: 0;
	// 				height: 200px;
	// 				line-height: 200px;
	// 				background: #000;
	// 				color: #FFF;
	// 				padding-top: 0;
	// 				padding-bottom: 0;

	// 				&:hover {
	// 					background: #000;
	// 				}
	// 			}
	// 		}
	// 	}

	// 	.shopthepost-widget {
	// 		> .stp-outer {
	// 			max-width: 100% !important;
	// 		}

	// 		// .stp-product {
	// 		// 	width: 200px !important;
	// 		// }
	// 	}
	// }

	.post-share,
	.page-share {
		display: inline-block;

		.title {
			display: inline-block;
			vertical-align: middle;
		}

		.share-links {
			display: inline-block;

			a {
				@include font-size(10);
			}
		}
	}

	.post-footer {

		background: #f1f1f1 url(../images/backgrounds/texture_grey.jpg);

		@include print() {
			display: none;
		}

		> .inner {
			padding: 20px 0;
		}
	}

	.post-navigation {
		margin: 0 -10px;

		@include device-width(10) {
			margin: 0;
		}

		.post {

			// @include device-width(10) {
			// 	float: none;
			// 	width: auto;
			// }

			.btn {
				background: #FFF;
				display: block;
				@extend .clearfix;
			}

			&.next {
				.featured-image {
					float: right;
				}

				.content {
					text-align: right;
					margin-left: 0;
					margin-right: 124px;

					@include device-width(8) {
						margin-right: 80px;
					}

					@include device-width(6) {
						margin-right: 50px;
					}
				}
			}
		}

		.featured-image {
			padding: 0;
			width: 124px;
			float: left;

			@include device-width(8) {
				width: 80px;
			}

			@include device-width(6) {
				width: 50px;
			}
		}

		.content {
			margin-left: 120px;
			padding: 20px 20px;

			&.has-thumbnail {
				
			}

			@include device-width(8) {
				margin-left: 80px;
				padding: 10px;
			}

			@include device-width(6) {
				padding-top: 20px;
				margin-left: 50px;
			}

			// @include device-width(12) {
			// 	margin-top: 0;
			// }

			@include device-width(6) {
				padding-top: 10px;

			}

			.direction {
				@include device-width(8) {
					margin: 0;
				}
			}

			.title {
				@include device-width(6) {
					display: none;
				}	
			}

			.date {
				margin: 0;

				@include device-width(8) {
					display: none;
				}
			}

			a {
				color: #000;

				&:hover {
					color: #FFF;
				}
			}
		}

		.direction {
			@include garamond-bold;
			letter-spacing: 2px;
			text-transform: uppercase;
			@include font-size(10);
		}
		.title {
			margin-bottom: 0.2em;
		}
		.date {
			@include garamond-italic;
			@include font-size(12);
		}
	}

	.post-comments {
		margin: 2em 0;

		@include print() {
			display: none;
		}

		> .inner {
			@include device-width(10) {
				margin: 0 10px;
			}
		}

		.comment-reply-title {
			@extend .lined-header;
			position: relative;

			small {
				position: absolute;
				top: 20px;
				right: 0;
				@include font-size(10);
			}
		}

		.comment-form {
			margin: 2em 0 0 0;
		}

		.comments {
			width: calc(100% - 300px);
			float: left;
			@include box-sizing(border-box);
			padding: 0 4em 0 0;

			@include device-width(10) {
				padding-right: 2em;
			}

			@include device-width(8) {
				width: auto;
				float: none;
				padding-right: 0;
			}

			.comment-list {
				margin: 2em 0;
			}
		}

		.widgets {
			width: 300px;
			float: right;

			@include device-width(8) {
				width: auto;
				@extend .clearfix;
				display: none;
			}

			.widget {
				margin: 0 0 2em 0;

				@include device-width(8) {
					float: left;
				}
			}
		}
	}
	

	.read-more {
		position: relative;
		z-index: 200;
		text-align: center;
	}



	.content {
		@include font-size(14);

		.images {
			margin: 0 -10px;

			@include device-width(10) {
				margin: 0 10px;
			}

			@include device-width(6) {
				margin: 0 5px;
			}
			.image {
				float: left;
				padding: 10px;
				@include box-sizing(border-box);

				@include device-width(6) {
					padding: 5px;
				}
				&.half {
					width: 50%;
				}

				&.right {
					float: right;
				}

				img {
					display: block;
				}
			}
		}

		.text {

			a {
				//@include garamond-bold;
				border-bottom: 1px solid #000;
				&:hover {
					border-bottom-color: #dec7cd;	
				}

				&.location-btn {
					border-bottom: 0;
				}
			}

		}

		.post-content {
			//text-align: center;
			padding: 10px 0;
			@include font-size(17);

			> .inner {
				padding: 0 10em;

				@include device-width(11) {
					padding: 0 5em;
				}

				@include device-width(5) {
					padding: 0 10px;
				}
			}

			a {
				//@include garamond-bold;
				border-bottom: 1px solid #000;
				&:hover {
					border-bottom-color: #dec7cd;	
				}
			}

			img {
				&.size-full,
				&.size-large,
				&.size-full_width {
					display: block;
					width: 100%;
				}
			}

			.images,
			iframe {
				overflow: hidden;
				margin-left: -10em;
				margin-right: -10em;

				@include device-width(11) {
					margin-left: -5em;
					margin-right: -5em;
				}
			}
		}


		.row {
			padding: 10px 0;

			@include device-width(6) {
				padding: 5px 0;
			}
			> .inner {
				@include display(flex);
				margin: 0 -10px;

				@include device-width(10) {
					margin: 0 10px;
				}
			}

			&.has-text {
				> .inner {
					@include device-width(6) {
						@include flex-direction(column);
					}
				}

				.sub-layout-image_text,
				.sub-layout-text_image, {
					@include device-width(6) {
						margin: 10px 0;
					}
 				}		
			}

			&.columns-1 {

				.sub-layout-shop_the_post {
					margin-left: 10px;
					margin-right: 10px;


					.body {
						//max-height: 360px;
						padding-top: 30%;
					}
				}

				.shop-the-post .stp-product {
					width: 25%;

					@include device-width(10) {
						width: 50%;
					}
				}
			}

			.column {
				@include device-width(6) {
					padding: 0 5px;
				}
			}
		}

		.sub-layout-image {
			@include print() {
				display: none;
			}
		}

		.sub-layout-text {
			@include display(flex);
			@include justify-content(center);

			@include print() {
				width: 100%;
				display: block;
			}

			&.type-outfit,
			&.type-location {
				background-color: #fafafa;
				border-left: 10px solid #FFF;
				border-right: 10px solid #FFF;
			}

			&.ten {
				display: block;
				.text {
					display: block;
					> .inner {
						padding: 2em 10em;
						@include align-self(auto);


						@include device-width(6) {
							padding: 1em 2em;
						}
					}
				}
			}
		}

		.sub-layout-image_text,
		.sub-layout-text_image {
			@include display(flex);
			@include flex-direction(column);

			@include device-width(8) {
				// width: 100%;
				// @include flex(1 100%);
			}

			&.type-outfit,
			&.type-location {
				.text {
					background-color: #fafafa;
				}
			}
				
			.text {
				
				margin-top: 20px;
				@include flex(1 auto);
				@include align-self(auto);
				@include align-content(center);

				@include device-width(6) {
					margin-top: 10px;
				}
			}
		}

		.sub-layout-text_image {
			.text {
				margin-top: 0;
				margin-bottom: 20px;

				@include device-width(6) {
					margin-top: 0;
					margin-bottom: 10px;
				}
			}
		}

		.sub-layout-image_image {
			@include print() {
				display: none;
			}
			.image-01 {
				margin-bottom: 20px;

				@include device-width(6) {
					margin-bottom: 10px;
				}
			}
		}

		.sub-layout-shop_the_post {
			border: 10px solid #dadada;
			padding: 1em;
			position: relative;
			//min-height: 300px;

			.header {
				text-align: center;

				.title {
					@include garamond;
				}
			}

			.body {
				position: relative;
				height: 0;
				padding-top: 130%;
				// max-height: 760px;
				// position: absolute;
				// left: 0;
				// right: 0;
				// top: 0;
				// bottom: 0;
				overflow: auto;
				

				&::-webkit-scrollbar {
				    width: 4px;
				    height: 6px;
				    background: #ebebeb;
				}
				 
				&::-webkit-scrollbar-track {
			
				}
				 
				/* Handle */
				&::-webkit-scrollbar-thumb {
				    background: #cbcbcb; 
				}
				
				&::-webkit-scrollbar-thumb:window-inactive {
					background: #cbcbcb; 
				}

				.shop-the-post {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
				}
			}
			
			.footer {
				text-align: center;
				padding: 0.5em 0;
			}
		}

		.type-location {
			
		}

		.type-outfit {
			
			.lined-header {
				height: 1px;
				margin: 4em;

				.title {
					border: 1px solid #eeeeee;
					padding-top: 1em;
					background: #fafafa;
					padding-bottom: 1em;
					margin-top: -20px;
				}
			}

			.content {
				@include futura;
				@include font-size(10);
				text-transform: uppercase;
				line-height: 1.6;
				letter-spacing: 2px;
			}
		}
		// .single-image {
		// 	margin: 20px 0;

		// 	@include device-width(9) {
		// 		margin: 10px 0px;
		// 	}
		// }

		// .multiple-images {
		// 	margin: 20px -10px;

		// 	@include device-width(9) {
		// 		margin: 0 -5px;

		// 		.image {
		// 			padding: 0 5px;
		// 		}
		// 	}
		// }

		.image {

			@include print() {
				display: none;
			}
			img {
				display: block;
			}
		}

		.text {
			@include display(flex);
			// @include flex-direction(column);
			// @include align-content(center);
			@include align-self(center);
			> .inner {
				padding: 2em 4em;
				@include align-self(center);
				@include flex(1 auto);

				@include device-width(10) {
					padding: 1em 2em;
				}
			}


			.title {
				text-align: center;
				margin: 1.5em 0;
				line-height: 1.6;

				@include device-width(10) {
					margin: 1em 0;
					line-height: 1.2;
				}

				@include device-width(6) {
					margin: 0.5em 0;
				}
			}

			ol {
				list-style: none;
				counter-reset: counter;
				margin: 1em 0;
				padding: 0 0 0 1em;

				li {
					position: relative;
					margin: 1em 0;
					padding: 0 0 0 ;

					&:before {
						content: counter(counter);
						counter-increment: counter;
						position: absolute;
						right: 100%;
						margin: 0 1em 0 0;
						@include font-size(20);
						@include futura;
						color: #809db4;
						line-height: 1.2;

					}
				}
			}
		}

		.step {
			text-align: center;
			height: 1px;
			background: #eeeeee;
			line-height: 0.4;
			margin: 3.2em 20%;

			.number {
				@include border-radius(50%);
				margin: -2em auto 0 auto;
				display: inline-block;
				width: 1em;
				height: 1em;
				padding: 1em;
				background: #dec7cd;
				@include futura;
				@include font-size(12);
				border-left: 2em solid #FFF;
				border-right: 2em solid #FFF;
				letter-spacing: 2px;
				color: #FFF;
				text-transform: uppercase;
				line-height: 1;
			}
		}

		.location {
			text-align: center;

			.address {
				display: block;
				@include font-size(12);
				@include garamond-italic;
			}
		}

		

		.form {
			background: url(../images/backgrounds/stripes_grey.jpg);
			padding: 2em 0;

			.gform_wrapper {
				border-left: 10px solid #dec7cd;


				form {
					@extend .clearfix;
				}

				.gform_heading {
					float: left;
					width: 280px;
					@include box-sizing(border-box);
					padding: 8em 4em;
					background: #FFF;
					margin: 0;

					@include device-width(10) {
						padding: 7em 4em;
					}

					@include device-width(8) {
						width: 200px;
					}

					@include device-width(6) {
						float: none;
						width: auto;
						padding: 1em;
					}

					.gform_title {
						@include font-size(20);
						letter-spacing: 3px !important;
						line-height: 2 !important;
					}

					.gform_description {
						@include garamond-italic;
					}
				}

				.gform_body {
					padding: 2em 4em 3em 4em;
					float: left;
					width: calc(100% - 280px);
					@include box-sizing(border-box);

					@include device-width(11) {
						padding: 2em 2em 3em 2em;
					}

					@include device-width(8) {
						width: calc(100% - 200px);
					}

					@include device-width(6) {
						float: none;
						width: auto;
						padding: 1em;
					}
				}

				.gform_footer {
					position: absolute;
					bottom: 2em;
					right: 4em;
					margin: 0;
				
					@include device-width(11) {
						bottom: 1em;
						right: 2em;
					}

					@include device-width(6) {
						position: relative;
						right: 1em;
					}
				}


				.top_label li.gfield.gf_left_half input.medium,
				.top_label li.gfield.gf_left_half input.large,
				.top_label li.gfield.gf_left_half select.medium,
				.top_label li.gfield.gf_left_half select.large,
				.top_label li.gfield.gf_right_half input.medium, 
				.top_label li.gfield.gf_right_half input.large, 
				.top_label li.gfield.gf_right_half select.medium, 
				.top_label li.gfield.gf_right_half select.large {
					width: 100%;
				}
			}
		}

		.press {
			.header {
				margin: 5em 0;

				@include device-width(10) {
					margin: 2em 0;
				}
				.title {
					text-align: center;
				}

				hr {
					margin-top: 4em;
					width: 4%;

					@include device-width(10) {
						margin-top: 1em;
					}
				}
			}
		}

		.posts {
			.posts-footer {
				margin: 3em 0;

				.next-btn {
					display: block;
					@extend .blue-btn;
				}
			}
		}
	}

	.related-posts {
		margin-bottom: 20px;

		@include device-width(10) {
			margin: 0 10px 20px 10px;
		}
	}

}

.addthis_counter {
	color: inherit;
}


.logo {
	&:before {
		@extend [class^="icon-"];
		@extend .icon-peonylim:before;
	}
}


.related-posts {
	margin: 0;
	@extend .clearfix;
	background: #FFF;
	border-left: 10px solid #dec7cd;

	.related-posts-header {
		width: 200px;
		float: left;
		text-align: center;
		padding: 5% 1em 0 1em;
		@include box-sizing(border-box);

		@include device-width(10) {
			width: auto;
			float: none;
			padding: 1em;
		}

		.title {
			@include font-size(26);
			line-height: 1.4;
		}

		.sub-title {
			@include garamond-italic;
			@include font-size(12);
		}
	}

	.posts-container {
		overflow: auto;
		margin: 0 0 0 200px;

		@include device-width(10) {
			margin: 0;
		}
	}
	.posts {
		margin: 0;
		padding: 0;
		list-style: none;
		min-width: 800px;

	

		.post {
			text-align: center;
			color: #000;

			.title {
				margin: 0;
			}
		}
	}
}

.category-products,
.closet {

	border: 10px solid #dadada;

	> .inner {
		padding: 2em;

		@include device-width(6) {
			padding: 1em;
		}
	}

	.closet-header {
		padding: 0.5em 0;
		position: relative;

		.title {
			text-align: center;
			@include garamond;
			margin: 0;
			text-transform: uppercase;
			@include font-size(16);
			color: #383838;

			@include device-width(6) {
				text-align: left;
				@include font-size(12);
			}
		}

		.closet-btn {
			position: absolute;
			top: 0;
			right: 0;
		}
	}

	.products {
		overflow: auto;
		width: 100%;
	//	background: #000;
		padding: 1em 0;
		@include scrollbar();

		ul {
			display: inline-block;
			white-space: nowrap;
		}

		li {
			padding: 0 10px;
			display: inline-block;
			white-space: normal;
			vertical-align: middle;
			min-width: 160px;

			img {
				height: 200px;

				@include device-width(6) {
					height: 160px;
				}
			}
		}
		.product-btn {

			.title {
//				line-height: 1.3;
				@include font-size(10);
			}

			.overlay {
				left: 5%;
				right: 5%;

				@include device-width(6) {
					display: none;	
				}
			}

			.buy-now-btn {
				padding-left: 1em;
				padding-right: 1em;
			}
		}
	}
}

.rs-products {
	.rs-product {
		float: left;
		width: 20%;
		height: 250px;
		@include box-sizing(border-box);
		padding: 0 10px;
		margin-bottom: 1em;
		@include device-width(10) {
			width: 25%;
		}

		@include device-width(8) {
			width: 33.333%;
		}

		@include device-width(6) {
			width: 50%;
		}

		@include device-width(4) {
			width: 100%;
		}

		img {
			margin: 0 auto;
			max-height: 250px;
			width: auto;
		}
	}
}

.press-releases {
	padding-left: 0;
	padding-right: 0;

	> .inner {
		padding: 3em 0 1em 0;
	}

	.header {
		.title {

			margin: 0;
			text-align: center;
		}
	}

	.pagination {
		margin: 1.6em;
	}

	.posts {
		overflow: hidden;
		margin: 0 -10px;
		list-style: 0;
		padding: 0;
	}

	.press {
		margin: 0 0 2em 0;
		.header {
			margin: 0.2em 0;
			text-align: center;
			
			.title,
			.meta {
				@include garamond;
				font-size: 10px;
	
			}

			.meta {
				color: #666;
			}
		}
	}
}

.shopthepost-widget {
	.rs-adblock {
		padding: 1em;
		text-align: center;
	}
}

.shop-the-post {
	.stp-product  {
		position: relative;
		float: left;
		width: 50%;
		padding: 10px;
		@include box-sizing(border-box);
		text-align: center;
		height: 260px;

		&:hover {
			.stp-info {
				opacity: 1;
				visibility: visible;
			}
		}

		> img {
			max-height: 240px;
			position: relative;
			z-index: 100;
		}

		.stp-info {
			padding: 1em;
			position: absolute;
			background: #FFF;
			visibility: hidden;
			opacity: 0;
			top: 50%;
			left: 10%;
			right: 10%;
			bottom: auto;
			@include translateY(-50%);
			z-index: 200;
			@include transition(all 0.3s ease);
			text-align: center;
			color: #000;

			.stp-brand {
				@include futura;
				display: block;
				@include font-size(14);
				letter-spacing: 3px;
				line-height: 1.5;
				text-transform: uppercase;
				margin-bottom: 0.5em;
			}

			.stp-price {
				@include garamond-italic;
				display: block;
				@include font-size(10);
			}
		}
	}
}

.posts {
	&.grid {
		.post,
		.press_release {
			margin: 0;
			float: left;
			width: 25%;
			overflow: hidden;
			@include box-sizing(border-box);
			padding: 1px;
			position: relative;

			@include device-width(10) {
				width: 33.333%;
			}

			@include device-width(7) {
				width: 50%;
			}

			&.right {
				float: right;
			}
			
			&.large {
				width: 50%;
				
				@include device-width(10) {
					width: 66.666%;
				}

				@include device-width(7) {
					width: 100%;
				}

				&:hover {
					.featured-image {
						&:after {
							opacity: 1;
							visibility: visible;
						}
					}
				}

				&.title-long {
					.title {
						@include font-size(30);
						line-height: 1.5;

						@include device-width(6) {
							@include font-size(26);
						}

						@include device-width(4) {
							@include font-size(22);
						}
					}

					.overlay {
						left: 10%;
						right: 10%;

						@include device-width(6) {
							left: 0;
							right: 0;
						}
					}
				}

				.overlay {
					bottom: auto;
					@include translateY(-50%);
					@include transition(all 0.3s ease);
					display: block;
					visibility: visible;
					opacity: 1;
					top: 50%;
					left: 24%;
					right: 24%;

					@include device-width(6) {
						left: 10%;
						right: 10%;
					}

					@include device-width(4) {
						left: 5%;
						right: 5%;
					}

					.no-csstransforms {
							top: 2em;
						}
				}

				.header {
					padding: 3em;

					@include device-width(6) {
						padding: 2em;
					}

					@include device-width(4) {
						padding: 1em;
					}

				}
			}

			&.small {
				.category {
					margin-top: 1em;
				}
			}

			

			.overlay {
				left: 20%;
				right: 20%;
			}

			> a {
				position: relative;
				display: block;	
			}

			img {
				display: block;
				width: 100%;
			}


			hr {
				margin: 1em auto !important;
				width: 10% !important;
			}
		
			.excerpt {
				margin: 2em 0;
				padding: 0 2em;

				@include device-width(5) {
					padding: 0 1em;
					margin-top: 1em;
				}
			}

			.meta {
				@include font-size(12);
				@include garamond-italic;
			}
		}
	}

	&.list {

		.post {
			padding: 10px 0;

			@include device-width(10) {
				padding: 5px 0;
			}

			> .inner {
				@include display(flex);
				background: #fafafa;
			}
		}

		.post-header {
			@include display(flex);
			border-right: 10px solid #FFF;

			@include device-width(13) {
				width: 40%;
			}

			@include device-width(11) {
				width: 60%;
			}

			@include device-width(10) {
				width: 66.6666%;
				border-right: 0;
			}

			@include device-width(6) {
				width: 50%;
			}

			.header-content {
				@include align-self(center);
				width: 100%;
				padding: 2em;

				@include device-width(8) {
					padding: 1em;
				}

				@include device-width(4) {
					padding: 10px 0;
				}
			}

			.title {
				line-height: 1.8;
			}

			.excerpt {
				margin: 1em 0;
				@include device-width(9) {
					display: none;
				}
			}


			.post-terms {
				@include device-width(5) {
					display: none;
				}
			}

			.collaboration-logo {
				img {
					max-width: 250px;
					max-height: 100px;
				}

				@include device-width(8) {
					display: none;
				}
			}
		}

		.thumbnail {
			background: #FFF;

			@include device-width(10) {
				background: none;
			}
		
			img {
				display: block;
				width: 100%;
			}
		}

		.featured-image {
			display: block;

			@include device-width(10) {
				padding-right: 0;
			}

			@include device-width(6) {
				width: 50%;
			}
		}

		.other-image {
			@include device-width(10) {
				display: none;
			}
		}
	}
}

.city-map,
.post-locations {
	background: url(../images/backgrounds/stripes_grey.jpg);
	margin: 10px 0;
	> .inner {
		padding: 1.5em 0;
	}
	.google-map {
		width: 100%;
		height: 400px;
		
		img {
			max-width: none;
		}

		.marker {
			display: none;
		}
		// .marker-label-media {
		// 	color: #FFF;
		// 	@include font-size(14);
		// 	letter-spacing: 1px;
		// }
	}
}

.post-foods {
	background: url(../images/backgrounds/stripes_grey.jpg);
	margin: 10px 0;
	padding: 1em 0;
	> .inner {
		background: #FFF;
		max-width: 600px;
		padding: 2em;
	}

	.lined-header {
		height: 1px;
		margin: 18px 26%;

		@include device-width(5) {
			margin-right: 0;
			margin-left: 0;
		}

		.title {
			border: 1px solid #eeeeee;
			padding-top: 1em;
			padding-bottom: 1em;
			margin-top: -18px;
		}
	}

	.foods {
		text-align: center;
		padding: 1em 0 0 0;
		font-size: 0.85em;


		.food {
			&:nth-child(2n + 3) {
				clear: left;
			}
		}
	}
}


.social-bar {

	.social-links-container {
		margin: 0.5em 0;
		float: right;
		text-align: right;


		@include device-width(10) {
			width: auto;
			float: none;
		}

		.follow {
			display: inline-block;
			@include garamond-italic;
			vertical-align: middle;
			@include font-size(12);
			color: #666;
		}

		.social-links {
			display: inline-block;
			vertical-align: middle;
			margin-left: 0.5em;

			li {
				margin: 0 0.3em;
			}
		}
	}

	.newsletter_wrapper {
		float: left;
		// border-top: 6px solid #FFF;
		// border-bottom: 4px solid #FFF;
		width: calc( 100% - 300px );
		// position: absolute;
		// bottom: 0;
		// right: 0;
		z-index: 200;

		@include device-width(10) {
			width: auto;
			float: none;
			position: relative;
		}

		.gform_heading {
			@include device-width(5) {
				display: none;
			}
		}

		.gform_body {
			@include device-width(5) {
				width: 100%;
			}	
		}

		.gfield {
			input[type=text],
			input[type=email] {
				background: #f4f4f4;
			}
		}
	}

	.gform_confirmation_wrapper {
		text-align: center;
		margin: 1.5em 0 0 0;
		@include garamond-italic;
	}
}

.popular {
	background: #f1f1f1 url(../images/backgrounds/texture_grey.jpg);

	> .inner {
		padding: 2em 0;
		@include display(flex);

		@include device-width(8) {
			display: block;
		}
	}

	.widget_products {
		background: #FFF;
		padding: 1em;
		width: 33%;
		@include box-sizing(border-box);
		margin-right: 2%;


		@include device-width(8) {
			float: none;
			width: auto;
			margin-right: 0;
			margin-bottom: 2em;
		}

		.no-flexbox & {
			float: left;
		}
	}

	.widget_popular_posts {
		background: #FFF;
		@include box-sizing(border-box);
		width: 65%;
		border-left: 10px solid #dec7cd;			
		@extend .clearfix;

		width: auto;

		.no-flexbox & {
			float: right;
		}

		@include device-width(10) {
			display: block;
		}

		@include device-width(8) {
			float: none;
			width: auto;
		}
	}
}

.continents-map {
	.title {
		text-align: center;
		@include garamond-italic;
		text-transform: none;
		margin: 1em 0;
		letter-spacing: 0;
	}
}

.locations-bar {
	background: url(../images/backgrounds/texture_grey.jpg);

	.header {		
		padding: 0;

		@include device-width(10) {
			width: 50%;
		}

		@include device-width(6) {
			float: none;
			width: auto;
		}


		.content {
			@include box-sizing(border-box);
			float: right;
			width: calc(100% - 450px);
			padding: 1.5em 6em 1.5em 1.5em;

			@include device-width(14) {
				padding-right: 3em;
			}

			@include device-width(13) {
				padding: 1.5em;
				width: calc(100% - 350px);
			}

			@include device-width(10) {
				float: none;
				width: auto;
			}

			@include device-width(6) {
				text-align: center;
				padding-bottom: 0;
			}
		}

		.title {
			@include font-size(18);
			margin: 0;
		}

		.sub-title {
			@include garamond-italic;
			@include font-size(13);
			margin: 0.5em 0 0 0;
			line-height: 1.2;
		} 

		.image {
			@include box-sizing(border-box);
			width: 450px;
			float: left;

			@include device-width(13) {
				width: 350px;
			}

			@include device-width(10) {
				display: none;
			}

			img {
				display: block;
				width: 100%;
			}
		}
	}

	.options {
		padding: 1.5em;
		text-align: right;

		@include device-width(10) {
			width: 50%;
		}

		@include device-width(6) {
			float: none;
			width: auto;
		}

	}

	.city {
		@include futura;
		background-color: #FFF;
		@include font-size(12);
		width: 100%;
		letter-spacing: 2px;

		@include device-width(13) {
			@include font-size(10);
		}
	}
}

.filters {
	.label {
		@include font-size(9);
		@include futura-heavy;
		letter-spacing: 2px;
		line-height: 4.5;
		margin: 0;
		color: #666;

		.value {
			color: #000;
		}
	}

	.date,
	.tag,
	.category,
	.city,
	.query {
		float: right;
		margin: 2px;
	}


	.date {
		@include device-width(6) {
			display: none;
		}
	}

	
	.query,
	.submit-btn {
		@include device-width(4) {
			display: none;
		}
	}

	.query {
		padding-right: 30px;
		width: 170px;
		@include transition(all 0.3s ease);
		&:focus {
			width: 230px;
		}
	}

	.submit-btn {
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		background: none;
		color: #000;
		padding-left: 1em;
		padding-right: 1em;
		font-size: 12px;
	}
}
/* =============================================================================
   Widgets
   ========================================================================== */

.widget {
	text-align: center;
}

.widget_text {
	.textwidget {
		border-left: 1px solid #d7d7d7;
		border-right: 1px solid #d7d7d7;
		border-top: 3px solid #000;
		border-bottom: 3px solid #000;
		padding: 2em 2.5em;
		text-align: left;
		font-size: 0.8em;
	}
}


.widget_links {
	.blogroll {
		margin: 0;
		border-left: 1px solid #d7d7d7;
		border-right: 1px solid #d7d7d7;
		border-top: 3px solid #000;
		border-bottom: 3px solid #000;
		padding: 2.5em;
		text-align: center;
		font-size: 0.8em;
		list-style: none;
	}
}

.widget_post {
	position: relative;

	&:hover {
		.meta {
			max-height: 30px;
		}
	}

	.featured-image {
		position: relative;
		display: block;

		img {
			width: 100%;
			display: block;
		}

		&:hover {
			&:before {
				background: rgba(#FFF, 0.4);
			}
		}
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: none;
			z-index: 200;
			@include transition(all 0.3s ease);
		}
	}

	.content {
		background: #FFF;
		position: absolute;
		top: 25%;
		left: 25%;
		right: 25%;
		bottom: 25%;
		@include box-sizing(border-box);
		padding: 2em;
		z-index: 200;
		@include transition(all 0.3s ease);
		//@include transform(translateX(-50%) translateY(-50%) );
		text-align: center;
		@include display(flex);
		@include align-items(center);
		@include justify-content(center);

		@include device-width(10) {
			padding: 1em;
		}


		&.title-long {
			.title {
				line-height: 1.5;
				@include font-size(18);
			}

			hr {
				margin-top: 1em;
				margin-bottom: 1em;
			}

			.excerpt {
				margin: 1em 0;
			}
		}
	}

	.title {
		line-height: 2;
		margin: 1em 0;

		@include device-width(4) {
			margin: 0.5em 0;
			@include font-size(18);
			line-height: 1.8;
		}
	}

	hr {
		margin-top: 1.2em;
		margin-bottom: 2em;

		@include device-width(4) {
			margin-top: 0.6em;
			margin-bottom: 1em;
		}
	}

	.excerpt {
		@include garamond-italic;
		@include font-size(13);
		margin: 2em 0;
		line-height: 1.3;
	}

	.category {
		text-transform: uppercase;
		@include font-size(10);
		letter-spacing: 2px;
	}

	.meta {
		overflow: hidden;
		max-height: 0;
		@include transition(all 0.3s ease);
		padding: 0 0 1em 0;
	}

	.date {
		@include futura;
		@include font-size(10);
		letter-spacing: 1px;
	}
}

.widget_category {
	.btn {
		position: relative;
		display: block;

		&:hover {
			.black-btn {
				background: #FFF;
				color: #000;
				@include box-shadow(none);
			}
		}
		.cta-container {
			z-index: 200;
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			margin: -15px 0 0 0;
			text-align: center;
		}

		.black-btn {
			@include transition(all 0.3s ease);
		}

		.image {
			img {
				display: block;
			}
		}
	}
}

.widget_products {

	// .lined-header {
	// 	height: 1px;
	// }
	.header {
		text-align: center;
		margin: 0 0 1em 0;
	}
	.widget-title {
		height: 1px;
		line-height: 3px;
		padding: 0 1em;
		display: inline-block;
		border-left: 15px solid #c5c5c5;
		border-right: 15px solid #c5c5c5;
		@include font-size(10);
		@include garamond;
	}

	.sub-title {
		@include garamond-bold;
		letter-spacing: 1px;
		margin: 0;

		i {
			@include garamond-italic;
			font-size: 0.6em;
			letter-spacing: 0;
			text-transform: lowercase;
		}
	}

	.product-btn {
		&:after {
			bottom: 30px;
		}
	}
}



.widget_advert {
	a,
	img {
		display: block;
	}
}

.widget_social {
	.widget-title {
		margin: 0;
		text-align: left;
	}

	.social-links {
		border-top: 5px solid #cccccc;
		padding: 1.5em 0;
		li {
			width: 20%;
			@include box-sizing(border-box);
			text-align: center;
		}
	}

	.newsletter_wrapper {
		border-bottom: 5px solid #cccccc;		
		padding: 2em 1.5em;

		form { 
		
			.gform_heading {
				float: none;
				width: auto !important;
				text-align: center;
				padding: 0;

				.gform_title,
				.gform_description {
					display: block;
					text-align: center;
				}

				.gform_title {
					line-height: 1.8;
					@include font-size(16);
				}

				.gform_description {
					text-transform: none;
					letter-spacing: 0;
					@include font-size(12);

					&:before {
						display: none;
					}
				}
			}

			.gform_body {

				margin: 1.5em 0 0 0;
				float: none;
				width: auto;
				padding-right: 120px;


				.gform_fields .gfield input[type=text],
				.gform_fields .gfield input[type=email] {
					border-left: 0;
				}
			}

			.gform_footer {
				top: auto;
				bottom: 0;

				.button.gform_button {
					background: #5d5d5d;
					padding-left: 3em;
					padding-right: 3em;

					&:hover {
						background: #000;
						color: #FFF;
					}
				}
			}
		}
	}
}

.widget_popular_posts {
	background: #FFF;
	@include box-sizing(border-box);
	border-left: 10px solid #dec7cd;
	@include display(flex);
	@include align-items(center);

	&.no-flexbox {
		float: right;
	}

	.widget-header {
		width: 25%;
		float: left;
		@include box-sizing(border-box);
		padding: 2em 3em;

		@include device-width(10) {
			width: auto;
			float: none;
			padding: 1em;
		}

		.widget-title {
			@include font-size(25);
			line-height: 2;
		}

		hr {
			margin-top: 1.5em;
			margin-bottom: 2em;
		}

		.sub-title {
			@include garamond-italic;
			font-size: 0.8em;
		}
	}

	.posts {
		width: 75%;
		float: left;

		@include device-width(10) {
			width: auto;
			float: none;
			overflow: auto;
		}
		
		> .inner {
			@include device-width(6) {
				min-width: 1600px;
			}
		}

		.post-btn {
			@include box-sizing(border-box);
			width: 33.33333%;
			width: 25%;
			padding: 1px;
			float: left;

			@include device-width(6) {
				width: 200px;
			}

			.thumbnail {
				img {
					width: 100%;
				}
			}
		}
	}
}

/* =============================================================================
   Lists
   ========================================================================== */

.red-list {
	list-style: none;
	margin: 10px 0;
	padding: 0;

	li {
		list-style: none;
		padding: 2px 0 2px 14px;
	}
}

.unstyled-list {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		margin: 8px 0;
	}
}

.comment-list {
	list-style: none;
	border-top: 10px solid #f8f3f0;
	margin: 0;
	padding: 0;

	li {
		padding: 2em 3em;

		@include device-width(10) {
			padding: 1em;
		}

		&:nth-child(2n) {
			background: #f5f5f5;
		}

		.comment-author {
			cite {
				color: #000;
				@include futura;
				@include font-size(18);
				text-transform: uppercase;
				letter-spacing: 2px;
			}

			.says {
				@include garamond-italic;
				color: #848484;
			}
		}

		.comment-meta {
			@include futura;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 8px;

			a {
				color: #848484;

				&:hover {
					color: #000;
				}			
			}
		}

		.comment-reply-link {
			@include futura;
			font-size: 8px;
			letter-spacing: 0.5px;
			padding: 1em 0;

			&:before {
				@extend [class^="icon-"];
				@extend .icon-reply:before;
				margin: 0 0.6em 0 0;
			}
		}

		.children {
			list-style: none;
			padding: 0;
		}
	}
}