#taxonomy-collection {
	> .inner {
		padding: 0 10px;
	}

	.collection-header {
		text-align: center;
		margin: 3em 0;

		.title {
			display: inline-block;
			border-bottom: 1px solid #000;
			padding: 0.3em 0;
		}
	}
	.carousel {

		img {
			display: block;
		}

		.btn {
			display: block;
		}
		.page {
			display: block;
			margin: 4em 0 0 0;
			text-align: center;
		}
	}
}